name: Build Linux

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          set -e
          sudo apt-get update -qq
          sudo apt-get install -qq -y php-cli libgtk-3-dev > /dev/null

      - name: Configure
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build

      - name: Upload plugin
        uses: actions/upload-artifact@v4
        with:
          name: reaper_sws-x86_64-linux
          path: build/reaper_sws*.so
